JythonUI/jythonuiserver/resources/xsd/dialogschema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.jythongwt.dialogxsd.com" xmlns="http://www.jythongwt.dialogxsd.com"
	elementFormDefault="qualified">

	<xs:simpleType name="typeName">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="int|string|textarea|richtext|bool|decimal|long|date|datetime|password|custom:.*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeOpVal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="eq" />
			<xs:enumeration value="le" />
			<xs:enumeration value="lt" />
			<xs:enumeration value="gt" />
			<xs:enumeration value="ge" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="L" />
			<xs:enumeration value="R" />
			<xs:enumeration value="C" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="listStand">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="(((TOOLS|ADD|MODIF|REMOVE|SHOW|FIND|FILTER),)*(TOOLS|ADD|MODIF|REMOVE|SHOW|FIND|FILTER)?)" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="emptyT">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\$.*)|()" />
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="validateattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="op" type="typeOpVal" />
		<xs:attribute name="id1" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
	</xs:attributeGroup>

	<xs:group name="validateG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="op" type="typeOpVal" />
			<xs:element minOccurs="0" name="id1" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:group name="buttonG">
		<xs:sequence>
			<xs:group ref="jythonG" minOccurs="0" />
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="validate" type="emptyT" />
			<xs:element minOccurs="0" name="actiontype" type="xs:string" />
			<xs:element minOccurs="0" name="actionparam" type="xs:string" />
			<xs:element minOccurs="0" name="actionparam1" type="xs:string" />
			<xs:element minOccurs="0" name="actionparam2" type="xs:string" />
			<xs:element minOccurs="0" name="hidden" type="emptyT" />
			<xs:element minOccurs="0" name="readonly" type="emptyT" />
		</xs:sequence>
	</xs:group>


	<xs:attributeGroup name="buttonattrG">
		<xs:attributeGroup ref="jythonattrG" />
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="validate" type="emptyT" />
		<xs:attribute name="actiontype" type="xs:string" />
		<xs:attribute name="actionparam" type="xs:string" />
		<xs:attribute name="actionparam1" type="xs:string" />
		<xs:attribute name="actionparam2" type="xs:string" />
		<xs:attribute name="hidden" type="emptyT" />
		<xs:attribute name="readonly" type="emptyT" />
	</xs:attributeGroup>

	<xs:group name="dialogG">
		<xs:sequence>
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="before" type="emptyT" />
			<xs:element minOccurs="0" name="parent" type="xs:string" />
			<xs:element minOccurs="0" name="types" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="dialogattrG">
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="before" type="emptyT" />
		<xs:attribute name="parent" type="xs:string" />
		<xs:attribute name="types" type="xs:string" />
	</xs:attributeGroup>

	<xs:group name="listG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="elemformat" type="xs:string" />
			<xs:element minOccurs="0" name="standbutt" type="listStand" />
			<xs:element minOccurs="0" name="pagesize" type="xs:positiveInteger" />
			<xs:element minOccurs="0" name="width" type="xs:string" />
			<xs:element minOccurs="0" name="chunked" type="emptyT" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="listattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="elemformat" type="xs:string" />
		<xs:attribute name="standbutt" type="listStand" />
		<xs:attribute name="pagesize" type="xs:positiveInteger" />
		<xs:attribute name="width" type="xs:string" />
		<xs:attribute name="chunked" type="emptyT" />
	</xs:attributeGroup>

	<xs:group name="jythonG">
		<xs:sequence>
			<xs:element minOccurs="0" name="import" type="xs:string" />
			<xs:element minOccurs="0" name="method" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="jythonattrG">
		<xs:attribute name="import" type="xs:string" />
		<xs:attribute name="method" type="xs:string" />
	</xs:attributeGroup>

	<xs:group name="fieldG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="htmlid" type="xs:string" />
			<xs:element minOccurs="0" name="from" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="defvalue" type="xs:string" />
			<xs:element minOccurs="0" name="type" type="typeName" />
			<xs:element minOccurs="0" name="afterdot" type="xs:nonNegativeInteger" />
			<xs:element minOccurs="0" name="actionid" type="xs:string" />
			<xs:element minOccurs="0" name="helper" type="xs:string" />
			<xs:element minOccurs="0" name="width" type="xs:string" />
			<xs:element minOccurs="0" name="align" type="typeAlign" />
			<xs:element minOccurs="0" name="helperrefresh" type="emptyT" />
			<xs:element minOccurs="0" name="notempty" type="emptyT" />
			<xs:element minOccurs="0" name="hidden" type="emptyT" />
			<xs:element minOccurs="0" name="readonly" type="emptyT" />
			<xs:element minOccurs="0" name="readonlyadd" type="emptyT" />
			<xs:element minOccurs="0" name="readonlychange" type="emptyT" />
			<xs:element minOccurs="0" name="signalchange" type="emptyT" />
			<xs:element minOccurs="0" name="footer" type="emptyT" />
			<xs:element minOccurs="0" name="editable" type="emptyT" />
			<xs:element minOccurs="0" name="signalbefore" type="emptyT" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="fieldattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="htmlid" type="xs:string" />
		<xs:attribute name="from" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="defvalue" type="xs:string" />
		<xs:attribute name="actionid" type="xs:string" />
		<xs:attribute name="helper" type="xs:string" />
		<xs:attribute name="width" type="xs:string" />
		<xs:attribute name="align" type="typeAlign" />
		<xs:attribute name="helperrefresh" type="emptyT" />
		<xs:attribute name="type" type="typeName" />
		<xs:attribute name="afterdot" type="xs:nonNegativeInteger" />
		<xs:attribute name="notempty" type="emptyT" />
		<xs:attribute name="hidden" type="emptyT" />
		<xs:attribute name="readonly" type="emptyT" />
		<xs:attribute name="readonlyadd" type="emptyT" />
		<xs:attribute name="readonlychange" type="emptyT" />
		<xs:attribute name="signalchange" type="emptyT" />
		<xs:attribute name="footer" type="emptyT" />
		<xs:attribute name="editable" type="emptyT" />
		<xs:attribute name="signalbefore" type="emptyT" />
	</xs:attributeGroup>

	<xs:group name="checklistG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="type" type="typeName" />
			<xs:element minOccurs="0" name="afterdot" type="xs:nonNegativeInteger" />
			<xs:element minOccurs="0" name="readonly" type="emptyT" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="checklistattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="type" type="typeName" />
		<xs:attribute name="afterdot" type="xs:nonNegativeInteger" />
		<xs:attribute name="readonly" type="emptyT" />
	</xs:attributeGroup>

	<xs:group name="checkG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="checkattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
	</xs:attributeGroup>

	<xs:group name="datelineG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="displayname" type="xs:string" />
			<xs:element minOccurs="0" name="pagesize" type="xs:nonNegativeInteger" />
			<xs:element minOccurs="0" name="colno" type="xs:nonNegativeInteger" />
			<xs:element minOccurs="0" name="lineid" type="xs:string" />
			<xs:element minOccurs="0" name="dateid" type="xs:string" />
			<xs:element minOccurs="0" name="file" type="xs:string" />
			<xs:element minOccurs="0" name="defafile" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="datelineattrG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="displayname" type="xs:string" />
		<xs:attribute name="pagesize" type="xs:nonNegativeInteger" />
		<xs:attribute name="colno" type="xs:nonNegativeInteger" />
		<xs:attribute name="lineid" type="xs:string" />
		<xs:attribute name="dateid" type="xs:string" />
		<xs:attribute name="file" type="xs:string" />		
		<xs:attribute name="defafile" type="xs:string" />		
	</xs:attributeGroup>

	<xs:group name="formfileG">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="file" type="xs:string" />
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="formfileG">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="file" type="xs:string" />
	</xs:attributeGroup>

	<xs:element name="dialog">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="dialogG" />

				<xs:element minOccurs="0" name="jython">
					<xs:complexType>
						<xs:group ref="jythonG" />
						<xs:attributeGroup ref="jythonattrG" />
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" name="leftmenu">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="button">
								<xs:complexType>
									<xs:group ref="buttonG" />
									<xs:attributeGroup ref="buttonattrG" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" name="actions">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="action">
								<xs:complexType>
									<xs:group ref="buttonG" />
									<xs:attributeGroup ref="buttonattrG" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" name="buttons">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="button">
								<xs:complexType>
									<xs:group ref="buttonG" />
									<xs:attributeGroup ref="buttonattrG" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" name="form">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="field">
								<xs:complexType>
									<xs:group ref="fieldG" />
									<xs:attributeGroup ref="fieldattrG" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" name="validaterules">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:element name="validate">
								<xs:complexType>
									<xs:group ref="validateG" />
									<xs:attributeGroup ref="validateattrG" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element minOccurs="0" maxOccurs="unbounded" name="list">
					<xs:complexType>

						<xs:sequence>
							<xs:group ref="listG" />
							<xs:element minOccurs="1" name="columns">
								<xs:complexType>
									<xs:sequence minOccurs="1" maxOccurs="unbounded">
										<xs:element name="column">
											<xs:complexType>
												<xs:group ref="fieldG" />
												<xs:attributeGroup ref="fieldattrG" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attributeGroup ref="listattrG" />
					</xs:complexType>

				</xs:element>

				<xs:element minOccurs="0" maxOccurs="unbounded" name="checklist">
					<xs:complexType>

						<xs:sequence>
							<xs:group ref="checklistG" />

							<xs:element minOccurs="0" name="lines">
								<xs:complexType>
									<xs:group ref="checkG" />
									<xs:attributeGroup ref="checkattrG" />
								</xs:complexType>
							</xs:element>

							<xs:element minOccurs="0" name="columns">
								<xs:complexType>
									<xs:group ref="checkG" />
									<xs:attributeGroup ref="checkattrG" />
								</xs:complexType>
							</xs:element>

						</xs:sequence>
						<xs:attributeGroup ref="checklistattrG" />
					</xs:complexType>

				</xs:element>

				<xs:element minOccurs="0" maxOccurs="unbounded" name="dateline">
					<xs:complexType>

						<xs:sequence>
							<xs:group ref="datelineG" />
							<xs:element minOccurs="1" name="columns">
								<xs:complexType>
									<xs:sequence minOccurs="1" maxOccurs="unbounded">
										<xs:element name="column">
											<xs:complexType>
												<xs:group ref="fieldG" />
												<xs:attributeGroup ref="fieldattrG" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element minOccurs="1" name="files">
								<xs:complexType>
									<xs:sequence minOccurs="1" maxOccurs="unbounded">
										<xs:element name="filedef">
											<xs:complexType>
												<xs:group ref="formfileG" />
												<xs:attributeGroup ref="formfileG" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>


						</xs:sequence>
						<xs:attributeGroup ref="datelineattrG" />
					</xs:complexType>

				</xs:element>

			</xs:sequence>
			<xs:attributeGroup ref="dialogattrG" />
		</xs:complexType>
	</xs:element>


</xs:schema>

